In [2]:
import pandas as pd

In [4]:
x='hello world'
print("The variable has the value:", x)

The variable has the value: hello world

In [5]:
print(x)

hello world

In [1]:
x = 'ASHOK'

In [2]:
name_surname= 'ASHOK'

In [5]:
t_boolean = True
print(type(t_boolean))
compute_boolean = 1 + 1 == 2
print(compute_boolean)

<class 'bool'>
True

In [1]:
t_float = 12.58
print(type(t_float))
compute_float =1.5 + 10.7 - 4.9
print(compute_float)

<class 'float'>
7.299999999999999

In [3]:
t_list=['Chapter', 1, "This", "Is", 'a', 'list', 'of', "strings", "."]
print(t_list)

['Chapter', 1, 'This', 'Is', 'a', 'list', 'of', 'strings', '.']

In [11]:
t_dictionary={'Peugeot': 306, "Mercedes-Benz": "C220", "Audi": "A4"}
print(t_dictionary)

{'Peugeot': 306, 'Mercedes-Benz': 'C220', 'Audi': 'A4'}

In [15]:
import pandas as pd
data = {
    "City": ['Paris', 'Lyon', 'Bordeaux'],
    "Population": [2161000, 513275, 249712]
}
t_dataframe = pd.DataFrame(data) 
print(t_dataframe)

       City  Population
0     Paris     2161000
1      Lyon      513275
2  Bordeaux      249712

In [18]:
cartes = ['Infinite', 'Platinium', 'Gold', 'Classic']
for carte in cartes:
    print(carte)
    i+=1

Infinite
Platinium
Gold
Classic

In [19]:
print(i)

4

In [21]:
montant = 0
plafond = 100
while montant < plafond:
    print(montant) 
    montant += 10

0
10
20
30
40
50
60
70
80
90

In [25]:
montant_compte = -10
if montant_compte < -500:
    print("Compte en contentieux")
elif montant_compte < 0:
    print("Compte débiteur")
else: 
    print("Compte créditeur")

Compte débiteur

In [26]:
def check_account_statut (montant_compte):
    if montant_compte < -500: 
        statut='Compte en contentieux'
    elif montant_compte < 0:
        statut="Compte débiteur"
    else:
        statut='Compte créditeur'
    return statut

In [27]:
montant_compte=100
check_account_statut(montant)

'Compte créditeur'

In [28]:
import pandas as pd
import os
import glob

In [29]:
nasdaq_top_companies = [
    {
        "Ticker": "AAPL",
        "Company": "Apple Inc.",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 150.00,
        "Description": "Share price for Apple Inc. in September 2021"
    },
    {
        "Ticker": "MSFT",
        "Company": "Microsoft Corporation",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 300.00,
        "Description": "Share price for Microsoft Corporation in September 2021"
    },
    {
        "Ticker": "AMZN",
        "Company": "Amazon.com Inc.",
        "Industry": "E-commerce",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 3400.00,
        "Description": "Share price for Amazon.com Inc. in September 2021"
    },
    {
        "Ticker": "GOOGL",
        "Company": "Alphabet Inc. (Google)",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 2700.00,
        "Description": "Share price for Alphabet Inc. in September 2021"
    },
    {
        "Ticker": "FB",
        "Company": "Meta Platforms, Inc. (Facebook)",
        "Industry": "Social Media",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 330.00,
        "Description": "Share price for Meta Platforms, Inc. in September 2021"
    }
]
# Load dict to DataFrame
df_nasdaq=pd.DataFrame(nasdaq_top_companies)

In [30]:
nasdaq_top_companies

[{'Ticker': 'AAPL',
  'Company': 'Apple Inc.',
  'Industry': 'Technology',
  'Market Cap': 'Trillion Dollars',
  'Share_Price': 150.0,
  'Description': 'Share price for Apple Inc. in September 2021'},
 {'Ticker': 'MSFT',
  'Company': 'Microsoft Corporation',
  'Industry': 'Technology',
  'Market Cap': 'Trillion Dollars',
  'Share_Price': 300.0,
  'Description': 'Share price for Microsoft Corporation in September 2021'},
 {'Ticker': 'AMZN',
  'Company': 'Amazon.com Inc.',
  'Industry': 'E-commerce',
  'Market Cap': 'Trillion Dollars',
  'Share_Price': 3400.0,
  'Description': 'Share price for Amazon.com Inc. in September 2021'},
 {'Ticker': 'GOOGL',
  'Company': 'Alphabet Inc. (Google)',
  'Industry': 'Technology',
  'Market Cap': 'Trillion Dollars',
  'Share_Price': 2700.0,
  'Description': 'Share price for Alphabet Inc. in September 2021'},
 {'Ticker': 'FB',
  'Company': 'Meta Platforms, Inc. (Facebook)',
  'Industry': 'Social Media',
  'Market Cap': 'Trillion Dollars',
  'Share_Price': 330.0,
  'Description': 'Share price for Meta Platforms, Inc. in September 2021'}]

In [31]:
os.mkdir(r'./MARKET_DATA/')

In [32]:
def CreateCsvFile(df, PrefixName: str):
    '''
    The function CreateCsvFile enables to create multiple csv files by tickers 
    from a dataframe and a prefix as the filename.
    '''
    for line, ticker in zip(df['Ticker'], df['Ticker']):
        pathName = r'./MARKET_DATA/'+ str(PrefixName) +str(ticker)+'.csv'
        df[df['Ticker']==line].to_csv(pathName, index=False)
    return None

In [34]:
cac40_data = [
    {
        "Ticker": "AC",
        "Company": "Accor",
        "Share_Price": 35.60
    },
    {
        "Ticker": "AI",
        "Company": "Air Liquide",
        "Share_Price": 147.80
    },
    {
        "Ticker": "MT",
        "Company": "ArcelorMittal",
        "Share_Price": 28.90
    },
    {
        "Ticker": "BNP",
        "Company": "BNP Paribas",
        "Share_Price": 53.20
    },
    {
        "Ticker": "CAP",
        "Company": "Capgemini",
        "Share_Price": 140.45
    },
]
# Load dict to DataFrame
cac40_data=pd.DataFrame(cac40_data)

In [35]:
cac40_data

  Ticker        Company  Share_Price
0     AC          Accor        35.60
1     AI    Air Liquide       147.80
2     MT  ArcelorMittal        28.90
3    BNP    BNP Paribas        53.20
4    CAP      Capgemini       140.45

In [36]:
cac40_data = [
    {
        "Ticker": "AC",
        "Company": "Accor",
        "Share_Price": 35.60
    },
    {
        "Ticker": "AI",
        "Company": "Air Liquide",
        "Share_Price": 147.80
    },
    {
        "Ticker": "MT",
        "Company": "ArcelorMittal",
        "Share_Price": 28.90
    },
    {
        "Ticker": "BNP",
        "Company": "BNP Paribas",
        "Share_Price": 53.20
    },
    {
        "Ticker": "CAP",
        "Company": "Capgemini",
        "Share_Price": 140.45
    },
]
# Load dict to DataFrame
cac40_data=pd.DataFrame(cac40_data)

In [37]:
os.mkdir(r'./MARKET_DATA/')

FileExistsError: [WinError 183] Cannot create a file when that file already exists: './MARKET_DATA/'

In [38]:
def CreateCsvFile(df, PrefixName: str):
    '''
    The function CreateCsvFile enables to create multiple csv files by tickers 
    from a dataframe and a prefix as the filename.
    '''
    for line, ticker in zip(df['Ticker'], df['Ticker']):
        pathName = r'./MARKET_DATA/'+ str(PrefixName) +str(ticker)+'.csv'
        df[df['Ticker']==line].to_csv(pathName, index=False)
    return None

In [39]:
CreateCsvFile(df_nasdaq, 'NASDAQ_')
CreateCsvFile(cac40_data, 'CAC40_')

In [ ]:
# Assign the folder to parse
pathFolder = r'.\MARKET_DATA'
# Parse the folder
walkFolder = [path[0] for path in os.walk (pathFolder)]
# Initialize list
listOfFile = []
# Loop on the folder
for folder in walkFolder:
    # Assign folder path
    folderName = os.path.basename(folder)
    # Assign folder path joined to a file type searched
    files = os.path.join(folder, 'NASDAQ_*.csv')
    # Store the file path matching the file type searched
    listOfFile = glob.glob(files)